
    

    <!-- Fixed navbar -->
	    <div id="navigation" class="navbar navbar-default navbar-fixed-top">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#/SumoSurvey" my-refresh><b>Sumo Survey</b></a>
	        </div>
	        <div class="navbar-collapse collapse">
	          <ul class="nav navbar-nav">
	            <li class="active"><a href="#/SumoSurvey"  my-refresh>Home</a></li>
	            <li><a href="#/TakeSurvey" my-refresh>Take Survey</a></li>
	            <li><a href="#/MakeSurvey" my-refresh>Make Survey</a></li>
	            <li><a href="#SumoSurvey/#contact" class="smothScroll">Contact</a></li>
	          </ul>
	        </div><!--/.nav-collapse -->
	      </div>
	    </div>


	<section id="home" name="home"></section>
	<div id="headerwrap">
	    <div class="container">
	    	<div class="row centered">
	    		<div class="col-lg-12">
					<h1> <b>Sumo Survey</b></h1>
					<h3>Make and Take Surveys</h3>
					<br>
	    		</div>
	    		
	    		<div class="col-lg-2">
				<!--
	    			<h5>Amazing Results</h5>
	    			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
	    			
					<img class="hidden-xs hidden-sm hidden-md" src="assets/img/arrow1.png">
					-->
					
					<img class="hidden-xs hidden-sm hidden-md" src="assets/img/arrow1.png">
					
	    		</div>
	    		<div class="col-lg-8">
				<!--big centered picture -->
				 <div class="center">
					   <h1>
					   <a href="#/TakeSurvey" my-refresh>Take Survey
					   </a>
					   </h1>
				  </div>
				  <div class="center"> 
						<h1>	
						<a href="#/MakeSurvey">
						Make Survey
						</a>
						</h1>
                   </div>
				  
	    			<img class="img-responsive" src="assets/img/warrior1.png" alt="">
				<!--big centered picture -->	
	    		</div>
	    		<div class="col-lg-2">
	    			<br>
					<!--
	    			<img class="hidden-xs hidden-sm hidden-md" src="assets/img/arrow2.png">
					-->
					
					<img  class="hidden-xs hidden-sm hidden-md" src="assets/img/arrow2.png">
					<!--
	    			<h5>Awesome Design</h5>
	    			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
					-->
	    		</div>
	    	</div>
	    </div> <!--/ .container -->
	</div><!--/ #headerwrap -->


	<section id="desc" name="desc"></section>
	<!-- INTRO WRAP -->
	<div id="intro">
		<div class="container">
			<div class="row centered">
				<h1>Find The Answers To Your Questions</h1>
				<br>
				<br>
				
				<div class="col-lg-4">
					
				<a href="#/TakeSurvey#home" my-refresh>		
				<img id="my-img" src="assets/img/samuraisword1.png" onmouseover="hoverSword(this);" onmouseout="unhoverSword(this);"/>
				</a>
					<h3>Take Survey</h3>
					<p>Select your favourite answer to unique questions</p>
					
				</div>
				<div class="col-lg-4">
				<a href="#/MakeSurvey#home" my-refresh>
				<img id="my-img" src="assets/img/samuraisword1.png" onmouseover="hoverSword(this);" onmouseout="unhoverSword(this);"   />
	             </a>
					<h3>Make Survey</h3>
					<p>Make surveys with unique questions and answers </p>
				</div>
				<div class="col-lg-4">
				<a href="#/MakeSurvey#home" my-refresh>
				<img id="my-img" src="assets/img/samuraisword1.png" onmouseover="hoverSword(this);" onmouseout="unhoverSword(this);"/>
				</a>
					<h3>Monitoring</h3>
					<p>See the results as users take your surveys how many votes 
					and the most popular answer</p>	
				</div>
			</div>
			<br>
			<hr>
	    </div> <!--/ .container -->
	</div><!--/ #introwrap -->
	
	<!-- FEATURES WRAP -->
	
	


	<section id="contact" name="contact"></section>
	<div id="footerwrap">
		<div class="container">
			<div class="col-lg-5">
				<h3>Address</h3>
				<p>
				Av. Sumo 987,<br/>
				Austin, Texas<br/>
				73301<br/>
				United States
				</p>
			</div>
			
			<div class="col-lg-7">
				<h3>Drop Us A Line</h3>
				<br>
				<form role="form" action="#" method="post" enctype="plain"> 
				  <div class="form-group">
				    <label for="name1">Your Name</label>
				    <input type="name" name="Name" class="form-control" id="name1" placeholder="Your Name">
				  </div>
				  <div class="form-group">
				    <label for="email1">Email address</label>
				    <input type="email" name="Mail" class="form-control" id="email1" placeholder="Enter email">
				  </div>
				  <div class="form-group">
				  	<label>Your Text</label>
				  	<textarea class="form-control" name="Message" rows="3"></textarea>
				  </div>
				  <br>
				  <button type="submit" class="btn btn-large btn-success">SUBMIT</button>
				</form>
			</div>
		</div>
	</div>
	<div id="c">
		<div class="container">
			<p>Created by <a href="">Scott Londer</a></p>
		
		</div>
	</div>


  
  